

    <!-- <body data-barba="wrapper"> -->


        <div id="particles-js">
            <div id="bg"></div>
    
    
           
    
                <div id="primary">
                    <h1 id="h1">Raghav Sahni</h1>
                    <h3 id="h3">Front-end Developer</h3>
                </div>

    
                
    
                <div id="imageSocial">
                    <div>
                        <a href="https://www.linkedin.com/in/raghav-s-451087bb/" target="_blank">
                            <img id="linkedin" src="../../../assets/f_logo_RGB-Blue_1024.png"></a>
                    </div>

                    
                    <div>
                        <a href="https://github.com/raghavsahni" target="_blank">
                            <img id="github" src="../../../assets/f_logo_RGB-Blue_1024.png">
                        </a>
                    </div>
    
    
                    <div>
                        <a href="https://drive.google.com/file/d/1D7P5WOXVXZASwLfb4jCxM00kakpHtvK1/view?usp=sharing"
                            target="_blank">
                            <img id="drive" src="../../../assets/f_logo_RGB-Blue_1024.png">
                        </a>
                    </div>
                </div>
    
        
        </div>
