<div id="particles-js">
    <div id="bg"></div>
     
    
    <div id="primary">
    <span id="h1">Raghav Sahni</span><br/>
    <span id="h3">Front-end Developer</span>
    </div>
    
    <div class="imageSocial">
     
    
    <a href="https://www.linkedin.com/in/raghav-s-451087bb/" target="_blank">
    <img id="linkedin" src="../../../assets/f_logo_RGB-Blue_1024.png"></a>
     
    
    
    <br />
     
    
    <a href="https://github.com/raghavsahni" target="_blank">
    <img id="github" src="../../../assets/f_logo_RGB-Blue_1024.png">
    </a>
    
    <br />
     
    
     
    
     
    
    <a href="https://drive.google.com/file/d/1D7P5WOXVXZASwLfb4jCxM00kakpHtvK1/view?usp=sharing"
    target="_blank">
    <img id="drive" src="../../../assets/f_logo_RGB-Blue_1024.png">
    </a>
    </div>
     
    
     
    
    </div>
    